header {
  display:flex;
  align-items: center;
  background-color: #60298c;
}
body {
  background-color: #ebe5ff;
}
ul {
  display:flex;
  list-style-type: none;
}
li {
  padding: 5px 10px;
}
li>a {
  color: #ebe5ff;
}
header>img{
  width: 100px;
}
footer {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #60298c;
}
footer>a, footer>p{
  padding: 10px;
  display: flex;
  color: #ebe5ff;
}