@import url(structure.css);
h1,h2 {
  color: #38285c;
}
h3 {
  text-align: center;
  margin: 0;
}

div>img{
  width: 100px;
  display: flex;
  justify-self: flex-start;
  padding: 5px;
}
article{
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
  border: 2px solid #60298c;
  border-radius: 10px;
  background-color: #ebe5ff;
}

section {
  background-color: #c2bae3;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
}
.models {
 margin-bottom: 0px;
 margin-top: 0px;
 padding: 2px;
}

table,thead,tbody {
  border: 2px solid #38285c;
  border-collapse: separate;
  width: 800px;
  text-decoration: solid;
}
caption {
  font-weight: bold;
  text-align: center;
  font-size: 1.2rem;
}
th,td{
  border: 2px solid #38285c;
  text-align: center;
}
#table_ch{
  display: flex;
  justify-content: center;
  margin: 10px;
}
