header {
  display:flex;
  align-items: center;
  background-color: #60298c;
}
body {
  background-color: #ebe5ff;
}
h1,h2 {
  color: #38285c;
}
h3 {
  text-align: center;
  margin: 0;
}
ul {
  display:flex;
  list-style-type: none;
}
li {
  padding: 5px 10px;
}
li>a {
  color: #ebe5ff;
}
header>img{
  width: 100px;
}
div>img{
  width: 100px;
  display: flex;
  justify-self: flex-start;
  padding: 5px;
}
article{
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
  border: 2px solid #60298c;
  border-radius: 10px;
  background-color: #ebe5ff;
}

section {
  background-color: #c2bae3;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
}
[name="models"] {
 margin-bottom: 0px;
 margin-top: 0px;
 padding: 2px;
}
footer {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #60298c;
}
footer>a, footer>p{
  padding: 10px;
  display: flex;
  color: #ebe5ff;
}

table,thead,tbody {
  border: 2px solid #38285c;
  border-collapse: separate;
  width: 800px;
  text-decoration: solid;
}
caption {
  font-weight: bold;
  text-align: center;
  font-size: 1.2rem;
}
th,td{
  border: 2px solid #38285c;
  text-align: center;
}
#table_ch{
  display: flex;
  justify-content: center;
  margin: 10px;
}
